<div class="jumbotron">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h1>Create Account</h1>
      <form action="/users" method="post">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input name="email" type="text" class="form-control" placeholder="Email">
        </div>
        <br>

        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input name="password" type="password" class="form-control" placeholder="Password">
        </div>
        <br>

        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input name="password" type="password_confirm" class="form-control" placeholder="Confirm Password">
        </div>
        <br>

        <button type="submit" class="btn btn-default">Login</button>
      </form>
    </div>
  </div>
</div>