<% if client.dropped %>
<li class="list-group-item list-group-item-danger">
<% elsif client.created_at > (Time.now - 30.days) %>
<li class="list-group-item list-group-item-success">
<% else %>
<li class="list-group-item">
<% end %>
  <strong><%= client.name %></strong><br>
  <em><%= client.updated_at_to_s %></em>
</li>