<div class="col-xs-3 col-md-1 panel panel-default competitor">
  <h4><strong><%= competitor.name %></strong></h4>
  <% if competitor.clients.count > 0 %>
  <span>
    <strong>Retention: </strong>
    <%= number_to_percentage(competitor.annual_retention_rate * 100, precision: 0) %>
  </span>
  <% end %>
  <ul class="list-group">
    <%= render competitor.clients.order(updated_at: :desc) %>
  </ul>
</div>