<div class="col-xs-12 col-md-4 panel panel-default competitor">
  <h4>Add Competitor</h4>
  <form id="competitor-form" method="post" action="/competitors">
    <p class="text-muted">
      <input type="text" class="form-control" name="name" placeholder="Company Name">
    </p>
    <p class="text-muted">
      <input type="text" class="form-control" name="client_url" placeholder="Clients Page URL">
      Enter the URL of the competitor's client listing page you would like to scrape.
    </p>
    <p class="text-muted">
      <input type="text" class="form-control" name="client_xpath" placeholder="Clients Page Xpath">
      Enter the Xpath for accessing the competitor's client names from the above page.
      <a href="https://chrome.google.com/webstore/detail/xpath-helper/hgimnogjllphhhkhlmebbmlgjoejdpjl?hl=en">Xpath Chrome Extension</a>
    </p>
    <p>
      <button type="submit" class="btn btn-default btn-primary">Submit</button>
    </p>
  </form>
</div>