<div class="row">
  <div class="col-xs-6 col-md-9">
    <h1>Client Tracker</h1>
  </div>
  <div class="col-xs-6 col-md-3">
    <form method="post" action="/scrape">
      <button type="submit" class="btn btn-primary btn-lg" id="scrape-button">Scrape Competitors</button>
    </form>
  </div>
</div>
<div class="row">
  <%= render 'new_competitor' %>
  <%= render @competitors %>
</div>